*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
  display: flex;
  width: 100%;
  background-color: black;
  color: white;
  
  
}
.headerleft{
  display: flex;
  flex: 1;
  align-items: start;
  padding: 20px;
}
input{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
    padding: 10px;
}
button{
    width: 120px;
    height: 40px;
    background-color: black;
    color: white;
    box-shadow: none;
    border: none;
}
.signup{
    padding:20 px;
    margin: 20px 20px 20px 20px;
}
